.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    margin: 1%;
}

.product-card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
}

.product-card-title h4, p {
   margin: 1px; 
}

.product-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
}

.product-card-body-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card-body-item h4, p {
   margin: 0; 
}

