.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5em;
    background-color: #5DBCD2;
    box-shadow: 0px 3px 5px gray;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-list-home {

    text-decoration: none;
}

.nav-bar-list-home p {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    font-size: large;
    font-family: 'Baloo', cursive;
}
